<main>
  <h1>
    <code>ControlValueAccessor</code> Demo
  </h1>
  <hr>
  <div class="wrapper"
       [formGroup]="form">
    <label>Vul hier de frontenders in, gescheiden door een komma.
      <input type="text"
             appCommaSeperatedValues
             formControlName="frontenders"
             placeholder="Frontenders">
    </label>
    <app-compound-value formControlName="foo"
                        (validationErrorChange)="logErrors($event)"></app-compound-value>
  </div>
  <!-- <p>{{ frontenders }}</p> -->

  <ul>
    <li *ngFor="let frontender of frontenders">{{ frontender }}</li>
  </ul>

  <button (click)="logAllTheThings()">Log it!</button>
</main>
