code {
  font-family: 'consolas';
}

main {
  display: block;
  max-width: 80%;
  margin: 32px auto;
}

hr {
  border: 1px dashed #2b496c;
}

input {
  display: block;
  width: calc(100% - 32px);
  padding: 16px;
  margin-top: 16px;
  border: 1px solid #668bb4;
  border-radius: 6px;
  background-color: #deebf8;
}

ul {
  padding: 6px;
  border: 1px solid #2b496c;

  li {
    font-size: 1.2em;
    display: block;
    padding: 6px;
    border-bottom: 1px dotted #668bb4;

    &:last-child {
      border: none;
    }
  }
}
